.plugined-editor {
    font-family: "Merriweather", "Lucida Grande", Robot, Open Sans, Sans-serif;

    input, button {
        font-family: Open Sans, Sans-serif;
    }

    blockquote {
        border-left: 2px solid #ddd;
        color: #999;
        font-style: italic;
        margin: 12px 0 40px 0;
        padding: 6px 0 5px 18px;
    }

    ol, ul {
        line-height: 2;
        margin: 24px 0 40px 0;
        padding-left: 20px;
    }

    pre {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
        font-family: Monaco, Consolas, "Courier New", "Courier", monospace;
        font-size: 16px;
        padding: 20px;
        margin-bottom: 20px;
        white-space: pre-wrap;

        pre {
            background: none;
            padding: 0;
            margin-bottom: 0;
        }
    }
}
